*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

                /* Header */
header{
    height: 600px;
    background: url(Image/Fondo\ Header.svg);
    background-size: cover;
    background-position: center;
    display: block;
}

.navbar {
    position: absolute;
    padding: 40px 135px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar a {
    color: #ffff;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 18px;
}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 40px;
}

.navbar .menu-bars{
    display: none;
    width: 35px;
    position: absolute;
    top: 50px;
    right: 50px;
}

.semilogo{
    display: flex;
    position: relative;
    justify-content: center;
    top: 220px;
}

.logo-responsive{
    display: none;
    visibility: hidden;
}

.nav-links ul li a:hover{
    color: #DD820D;
    border:#ffff ;
    border-bottom-style:ridge;
}

                /* Acerca de */
.mi_foto{
    position: absolute;
    left: 550px;
    top: 525px;
}

.acerca_de{
    display: block;
    margin-bottom: 330px;
}

.acerca_de h2{
    font-family: 'Open Sans SemiCondensed';
    font-style: bold;
    font-size: 30px;
    color: #DD820D;
    position: relative;
    display: flex;
    justify-content: center;
    top: 112px;
}

.acerca_de p{
    font-family: 'Open Sans';
    font-style:normal;
    font-size: 18px;
    text-align:justify;
    color: #5A5A5A;
    position: relative;
    display: block;
    justify-content: center;
    top: 180px;
    margin:0px 140px 0px 140px;
}

.acerca_de span{
  color: #3895EA;
}

                /*Acerca de*/

                /*Trabajos*/

.Sect-Trabajos{
    display: block;
    background-image: url(Image/Fondo\ Body\ Trabajos.svg);
    background-size: cover;
}

.Sect-Trabajos h2{
    font-family: 'Open Sans SemiCondensed';
    font-style: bold;
    font-size: 30px;
    color: #3895EA;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.Sect1{
    display: flex;
    justify-content:space-evenly;
}

.Sect1-text{
    font-family: 'Open Sans';
    font-style:normal;
    font-size: 16px;
    color: #DD820D;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    margin: 0px 20px;
}

.Sect1 img:hover{
    -webkit-transform:scale(1.8);
    transform:scale(1.8);
}

.Sect2{
    display: flex;
    justify-content:space-evenly;
}

.Sect2-text{
    font-family: 'Open Sans';
    font-style:normal;
    font-size: 16px;
    color: #DD820D;
    display: flex;
    justify-content: space-around;
    margin: 0px 20px;
    padding: 40px;
}

.Sect2 img:hover{
    -webkit-transform:scale(1.8);
    transform:scale(1.8);
}

.Sect3{
    display: flex;
    justify-content:space-evenly;
}

.Sect3-text{
    font-family: 'Open Sans';
    font-style:normal;
    font-size: 16px;
    color: #DD820D;
    display: flex;
    justify-content: space-around;
    margin: 0px 60px;
    padding: 40px 0px  120px 0px;
}

.Sect3 img:hover{
    -webkit-transform:scale(1.8);
    transform:scale(1.8);
}

                /*Trabajos*/

                /*Contacto*/

.form{
    position: relative;
    display: flex;
    justify-content: center;
}

.contacto h2{
    font-family: 'Open Sans SemiCondensed';
    font-style: bold;
    font-size: 30px;
    color: #DD820D;
    display: block;
    text-align: center;
    padding: 50px;
}

input{
    background-color: #F2F2F2; 
    width: 660px; 
    height: 50px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #cecece; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  textarea{
    background-color: #F2F2F2; 
    width: 660px; 
    height: 100px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #cecece; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  label{
    display: flex; 
    float: center;  
  }
  
  button{
    height: 50px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 50px; 
    margin-top: 50px;   
    text-transform: uppercase;
    background-color: #3895EA; 
    border-color: #3895EA; 
    border-style: solid; 
    border-radius: 05px;  
    width: 150px;   
    cursor: pointer;
    position: relative;
    left: 270px;
  }
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #DD820D; 
  }
    
  .p_form{
    font-size: 14px; 
    color: #828282; 
  }
  
  ::-webkit-input-placeholder {
   color: #828282;
  }
  
  ::-webkit-textarea-placeholder {
   color: #828282;
  }
  
  .form input:focus{
    outline:0;
    border: 1px solid #DD820D;
  }
  
  .form textarea:focus{
    outline:0;
    border: 1px solid #DD820D;
  }

                /*Contacto*/

                /*Footer*/

footer{
    background: url(Image/Fondo\ footer.svg);
    background-size: cover;
    height: 200px;
}

footer img{
    position: relative;
    left: 455px;
    top: 70px;
    margin: 10px;
    height: 50px;
}

                /*Footer*/



        /******************************Media Querys******************************/


                /* Pantallas 1024px */


@media screen and (max-width: 1024px) {
    header {
      height: 500px;
    }
  
    .navbar {
      padding: 40px 100px;
    }
  
    .navbar .nav-links ul li {
      margin: 30px;
    }
    
    .navbar a{
        font-size: 16px;
    }
  
    .semilogo {
        top: 160px;
    }
  
    .mi_foto {
      left: 430px;
      top: 420px;
    }
  
    .acerca_de h2 {
      font-size: 26px;
      top: 96px;
    }
  
    .acerca_de p {
      font-size: 14px;
      top: 174px;
    }
  
    .Sect-Trabajos h2 {
      font-size: 26px;
      padding: 40px;
    }
  
    .Sect1-text,
    .Sect2-text,
    .Sect3-text {
      font-size: 14px;
      margin: 0px 0px;
      padding: 40px;
    }
    
    .Sect1 img,
    .Sect2 img,
    .Sect3 img {
        width: 200px;
    }
    
    .Sect1 img:hover,
    .Sect2 img:hover,
    .Sect3 img:hover {
    -webkit-transform:scale(1.6);
    transform:scale(1.6);
}
  
    input,
    textarea {
      width: 450px;
    }
    
    button{
        left: 160px;
    }
  
    footer img {
      left: 310px;
      top: 50px;
    }
}

                /* Pantallas 840px */

@media screen and (max-width: 840px) {
    header {
      height: 500px;
    }
  
    .navbar {
      padding: 40px 70px;
    }
  
    .navbar .nav-links ul li {
      margin: 30px;
    }
    
    .navbar a{
        font-size: 16px;
    }
  
    .semilogo {
        top: 190px;
        height: 120px;
    }
  
    .mi_foto {
      left: 335px;
      top: 420px;
    }
  
    .acerca_de h2 {
      font-size: 26px;
      top: 96px;
    }
  
    .acerca_de p {
      font-size: 14px;
      top: 160px;
    }
  
    .Sect-Trabajos h2 {
      font-size: 26px;
      padding: 40px;
    }
  
    .Sect1-text,
    .Sect2-text,
    .Sect3-text {
      font-size: 14px;
      padding: 40px;
        margin: 0px 85px;
      justify-content: space-between;
    }
    
    .Sect1 img,
    .Sect2 img,
    .Sect3 img {
        width: 200px;
    }
    
    .Sect1 img:hover,
    .Sect2 img:hover,
    .Sect3 img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}
  
    input,
    textarea {
      width: 450px;
    }
    
    button{
        left: 150px;
    }
  
    footer img {
      left: 230px;
      top: 70px;
    }
}
  

  
                /* Pantallas 758px */
    
    
@media screen and (max-width: 758px) {
        
    header {
      height: 500px;
    }
  
    .navbar {
      padding: 40px 50px;
    }
  
    .navbar .nav-links ul li {
      margin: 20px;
    }
    
    .navbar a{
        font-size: 16px;
    }
  
    .semilogo {
        top: 190px;
        height: 120px;
    }
  
    .mi_foto {
      left: 295px;
      top: 420px;
    }
  
    .acerca_de h2 {
      font-size: 20px;
      top: 96px;
    }
  
    .acerca_de p {
      font-size: 14px;
      top: 160px;
      text-align: justify;    
    }
  
    .Sect-Trabajos h2 {
      font-size: 20px;
      padding: 40px;
    }
  
    .Sect1-text,
    .Sect2-text,
    .Sect3-text {
      font-size: 14px;
      padding: 40px;
      margin: 0px 60px;
      justify-content: space-between;
    }
    
    .Sect1 img,
    .Sect2 img,
    .Sect3 img {
        width: 200px;
    }
    
    .Sect1 img:hover,
    .Sect2 img:hover,
    .Sect3 img:hover {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}
  
    input,
    textarea {
      width: 450px;
    }
    
    button{
        left: 150px;
    }
  
    footer img {
      left: 180px;
      top: 70px;
    }
}


                /* Pantallas 658px */
    
    
@media screen and (max-width: 658px) {
    header {
      height: 500px;
    }
  
    .navbar {
      padding: 50px 25px;
    }
  
    .navbar .nav-links ul li {
      margin: 0px 20px;
    }
    
    .navbar a{
        font-size: 16px;
    }
  
    .semilogo {
        top: 190px;
        height: 120px;
    }
  
    .mi_foto {
      left: 245px;
      top: 420px;
    }
    
    .acerca_de{
      margin-bottom: 250px;
    }
  
    .acerca_de h2 {
      font-size: 20px;
      top: 96px;
    }
  
    .acerca_de p {
      font-size: 14px;
      top: 140px;
      text-align: justify;
      margin: 0px 100px 0px 100px;
    }
  
    .Sect-Trabajos h2 {
      font-size: 20px;
      padding: 40px;
    }
  
    .Sect1-text,
    .Sect2-text,
    .Sect3-text {
      font-size: 14px;
      padding: 40px;
      margin: 0px 60px;
      justify-content: space-between;
    }
    
    .Sect1 img,
    .Sect2 img,
    .Sect3 img {
        width: 190px;
    }
    
    .Sect1 img:hover,
    .Sect2 img:hover,
    .Sect3 img:hover {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}
  
    input,
    textarea {
      width: 450px;
    }
    
    button{
        left: 150px;
    }
  
    footer img {
      left: 140px;
      top: 70px;
      height: 50px;
    }
}


                /* Pantallas 608px */
    
    
@media screen and (max-width: 608px) {
    header {
      height: 500px;
    }
  
    .navbar {
      padding: 50px 0px;
    }
  
    .navbar .nav-links ul li {
      margin: 0px 24px;    
    }
    
    .navbar a{
        font-size: 18px;
    }
    
    .nav-links{
        position: absolute;
        left: 120px;
        top: 90px;
    }
  
    .semilogo {
        top: 206px;
        height: 110px;
    }
    
    .logotipo img{
        display: none;
        visibility: hidden;
    }
    
    .logo-responsive{
        display:block;
        visibility: visible;
        position: absolute;
        left: 200px;
    }
  
  
    .mi_foto {
      left: 220px;
      top: 420px;
    }
    
    .acerca_de{
      margin-bottom: 250px;
    }
  
    .acerca_de h2 {
      font-size: 20px;
      top: 96px;
    }
  
    .acerca_de p {
      font-size: 13px;
      top: 140px;
      text-align: justify;
      margin: 0px 80px 0px 80px;
    }
  
    .Sect-Trabajos h2 {
      font-size: 20px;
      padding: 40px;
    }
  
    .Sect1-text,
    .Sect2-text,
    .Sect3-text {
      font-size: 12px;
      padding: 30px 20px;
      justify-content: space-between;
    }
    
    .Sect1 img,
    .Sect2 img,
    .Sect3 img {
        width: 150px;
    }
    
    .Sect1 img:hover,
    .Sect2 img:hover,
    .Sect3 img:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    }
  
    input,
    textarea {
      width: 400px;
    }
    
    button{
        left: 130px;
    }
    
    .contacto h2{
        font-size: 20px;
    }
  
    footer img {
      left: 145px;
      top: 70px;
      height: 40px;
    }
}


               /* Pantallas muy pequeñas */
    

@media screen and (max-width: 460px) {
    header {
      height: 500px;
    }
  
    .navbar {
      padding: 50px 0px;
    }
  
    .navbar .nav-links ul li {
      margin: 0px 24px;    
    }
    
    .navbar a{
        font-size: 18px;
    }
    
    .nav-links{
        position: absolute;
        left: 40px;
        top: 90px;
    }
  
    .semilogo {
        top: 206px;
        height: 100px;
    }
    
    .logotipo img{
        display: none;
        visibility: hidden;
    }
    
    .logo-responsive{
        display:block;
        visibility: visible;
        position: absolute;
        left: 120px;
    }
  
  
    .mi_foto {
      left: 150px;
      top: 420px;
    }
    
    .acerca_de{
      margin-bottom: 250px;
    }
  
    .acerca_de h2 {
      font-size: 20px;
      top: 96px;
    }
  
    .acerca_de p {
      font-size: 13px;
      top: 140px;
      text-align: justify;
      margin: 0px 60px 0px 60px;
    }
  
    .Sect-Trabajos h2 {
      font-size: 20px;
      padding: 40px;
    }
  
    .Sect1-text,
    .Sect2-text,
    .Sect3-text {
      font-size: 12px;
      padding: 30px 0px;
      justify-content: space-between;
    }
    
    .Sect1 img,
    .Sect2 img,
    .Sect3 img {
        width: 130px;
    }
    
    .Sect1 img:hover,
    .Sect2 img:hover,
    .Sect3 img:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    }
  
    input,
    textarea {
      width: 300px;
    }
    
    button{
        left: 85px;
    }
    
    .contacto h2{
        font-size: 20px;
    }
  
    footer img {
      left: 80px;
      top: 70px;
      height: 40px;
    }
}